body {
  font-family: 'Courier New', monospace;
  background-image: radial-gradient(#00ff38, #007f1c) !important;
  text-align: center;
}
.tablink {
  border-radius: 50px;
  float: left;
  font-family: 'Ika Compact VAR', fantasy;
  font-size: 20px;
  border: none;
  padding: 14px 16px;
  color: black;
  width: 20%;
  background-image: linear-gradient(45deg, #3a85ea, #8e1cff)
}
.tablink:hover {
background-color: #7411ff;
}

.tabcontent {
color: black;
display: none;
padding: 100px 20px;
height: 100%;
}
.column {
float: left;
width: 33.33%;
}
.row:after {
content: "";
display: table;
clear: both;
}
.colour{
 color: red;
}
.color {
color: blue;
}
.colorr {
color: #0;
}
